body {
	padding-bottom: 1rem;
	background-image:url("../img/body-bg.png");


/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Arimo', sans-serif;
*/
}

.material-icons.green { 
	color: green; 
	font-weight: 700;
	font-size: 36px;
}

.navbar {
	background-color: white;
	margin-left: 3rem;
	margin-right: 3rem;
}

.navbar-brand {
  padding: 0;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  line-height: 60px;
}



.pull-right{
  float:right;
}


.nav-link {
	padding-right:4rem;
	color: black;
	
	
}

.nav-link:visited {
	
	padding-right:4rem;
}



.margin-top-3 {
	margin-top: 3rem;
}

.section {
	padding-top:2rem;
	padding-left:2rem;
	padding-right:2rem;
	padding-bottom: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

#intro {
  background-image:url("../img/startup.jpg");
  
height:400px;
  
}

.intro-div {
 margin-top: 85px;
 text-align:center;
}

 .intro-button {
 margin-top: 30px;

}

#intro p {
     text-align:center;
    font-weight: 700;
   
    
}

.intro-large {	
	font-size:60px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
 color: black;
}

.intro-small {
	font-size:40px;
	font-family: 'Montserrat', sans-serif;
	color: green;
}

h1 {	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 45px;
	padding-bottom: 2rem;
	font-weight: 700;
}



#about {
	background-color: white;
}

#contact {
	background-color:#C0C0C0;
}

#service {
	
	background-color:white;
}

#team {
	background-color:#D3D3D3;
}

.contact-info {
	
	padding-top: 1rem;
	
}

footer {	
	text-align:center;
	padding-top:1rem;
	color: gray;	
}

footer li {
	display:inline;
	padding-right: 5rem;

}

footer li a {
	color: gray;
	
}

footer li a:hover {
	text-decoration: none;
	color: green;
}